<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AnyPhone</title>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href='//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/anyphone.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h1><%= title %></h1>
            <h4><%= dashboardWelcome %></h4>
            <form method="post" action="/dashboard">
              <div class="form-group">
                <label for="phoneNumber"><%= dashboardNumber %></label>
                <div class="input-group">
                  <input type="text" class="form-control btn-lg" tabindex="1" value="<%=phoneNumber%>" disabled>
                </div>
              </div>
              <div class="form-group">
                <label for="name"><%= dashboardName %></label>
                <div class="input-group">
                  <input type="text" class="form-control btn-lg" tabindex="1" name="name" placeholder="<%= dashboardNameHint %>"
                  value="<% if(locals.name !== undefined) { %><%= name%><% } %>">
                </div>
              </div>
              <div class="form-group">
                <label for="setting1"><%= dashboardSetting1 %></label>
                <div class="input-group">
                  <input type="checkbox" tabindex="1"<% if(locals.setting1 !== undefined && setting1) { %> checked<% } %> name="setting1">
                </div>
              </div>
              <div class="form-group">
                <label for="setting2"><%= dashboardSetting2 %></label>
                <div class="input-group">
                  <input type="checkbox" tabindex="2"<% if(locals.setting2 !== undefined && setting2) { %> checked<% } %> name="setting2">
                </div>
              </div>
              <div class="form-group">
                <label for="setting3"><%= dashboardSetting3 %></label>
                <div class="input-group">
                  <input type="checkbox" tabindex="3"<% if(locals.setting3 !== undefined && setting3) { %> checked<% } %> name="setting3">
                </div>
              </div>
              <div class="form-group">
                <label for="language">Language</label>
                <div class="input-group">
                  <label><input type="radio" tabindex="4"<% if(locals.language !== undefined && language == "en") { %> checked<% } %> name="language" value="en"> English </label><br/>
                  <label><input type="radio" tabindex="4"<% if(locals.language !== undefined && language == "ja") { %> checked<% } %> name="language" value="ja"> 日本語 </label>
                  <br/>
                  <label><input type="radio" tabindex="4"<% if(locals.language !== undefined && language == "kr") { %> checked<% } %> name="language" value="kr"> 한국어 </label>
                  <label><input type="radio" tabindex="4"<% if(locals.language !== undefined && language == "pt-BR") { %> checked<% } %> name="language" value="pt-BR"> Português (Brazil) </label>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg"><%= dashboardUpdate %></button>
                <input type="hidden" name="sessionToken" value="<%=sessionToken%>">
              </div>
            </form>
            <hr>
            <%=dashboardFinished%> <a href="/" class="btn btn-primary"><%= dashboardLogout %></a>
          </div>
      </div>
    </div>
    </body>
</html>
